:root {


    --CSourisSur: #8c949c;
    --CClickSur: #bec2c6;
    --CBackBox: #F0F0F0;
    --Cfond: rgb(232, 228, 228);


}

body {
    background-color: var(--Cfond);
}

.article {
    position: relative;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: border 0.3s ease;
}

.part1{
    display: flex;
    margin-top: 100px;
}

.M1 {
    width: 50%;
    margin-left: 5%;


}

.M2 {
    width: 90%;
    margin-top: 25px;
    left: 5%;
}

.article h2 {
    font-size: 16px;
}


.visuel {
    position: relative;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: border 0.3s ease;
    margin-left: 5%;
    width: 35%;
    background-color: var(--CBackBox);
}

.visuel img {
    width: 100%;
    height: max-content;
    object-fit: cover;
    max-height: 400px;

}

.theme {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burbuja {
    background-color: #5fd6e6;
    width: 30%;

    border-radius: 50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.B1 {
    margin-left: 2%;
}

.B2 {
    margin-left: 40%;
    top: 10px;

}

.burbuja h1 {
    font-size: 22px;
}

.info h2 {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.info h1 {
    margin-left: 5%;

    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
}


.article h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.article h2 {
    margin: 5px;
    text-align: justify;
    font-weight: normal;
    font-size: 16px;
}

.void {
    position: relative;
    top: 50px;
    height: 10px;
    width: 50%;
}

.ImaC{
    display: flex;
}

.ImaC{
    width: 60%;
    margin-left: 15%;
    margin-bottom: 50px;
}

.ImaC img{
    width: 100%;
    margin-right: 2.5%;
}


.ImaM1{
    display: flex;
    margin-top: 50px;

}
.ImaM1 img{
    width: 40%; /* Se adapta automáticamente al ancho */
    max-width: 100%; /* Limita el ancho al contenedor */
    height: auto; /* Mantiene la proporción */
    object-fit: contain; /* Asegura que la imagen no se recorte ni distorsione */
    margin-left: 5%;


}

.ImaM1Txt{
    display: block;
}

.ImaX1{
    display: flex;
    margin-top: 50px;

}
.ImaX1 img{
    margin-left: 5%;
    width: 40%;
    margin-bottom: 50px;
}

.P img{
    width: 20%;
}

.M img{
    width: 40%;
}
.PM{
    width: 30%;
}
