:root {

    --CSourisSur: #8c949c;
    --CClickSur: #bec2c6;
    --CBackBox: #F0F0F0;

    --MargExtLire: 20%;
    --MargIntLire: 10px;
    --CLire: #f7ca00;

    --CTextH1: black;
    --CTextH2: #474B4E;

    --W_Box: 20%;

    --HauteurDec: 250px;


    --L1Dec: 4%;
    --L2Dec: 28%;
    --L3Dec: 52%;
    --L4Dec: 76%;


}

.prod {
    position: absolute;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--W_Box);
    overflow: hidden;
    background-color: var(--CBackBox);
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    box-sizing: border-box;

}

.prod:hover {
    border-width: 10px;
    border: 10px solid green;

    border-style: solid;
    border-color: var(--CSourisSur);

}

.prod :active {
    background-color: var(--CClickSur);
}

a {
    text-decoration: none;
}



.L1 {
    left: var(--L1Dec);
}

.L2 {
    left: var(--L2Dec);
}

.L3 {
    left: var(--L3Dec);
}

.L4 {
    left: var(--L4Dec);
}

.Haut1 {
    top: var(--HauteurDec);
}



.prod h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
    color: var(--CTextH1);
    margin-bottom: 20px;
}


.prod h2 {
    font-size: 20px;
    color: var(--CTextH2);
    text-decoration: none;
    margin: 5px;
}

.prod img {

    width: 100%;
    height: auto;
    object-fit: cover;
}

.catego {
    font-weight: bold;
    text-decoration: underline;
}

.Lire h1 {
    color: var(--CTextH1);
    padding-top: var(--MargIntLire);
    padding-bottom: var(--MargIntLire);
    text-decoration: none;
}

.Lire {
    margin-top: 40px;
    margin-left: var(--MargExtLire);
    margin-right: var(--MargExtLire);
    background-color: var(--CLire);
    border-radius: 40%;
}