:root {


    --CSourisSur: #8c949c;
    --CClickSur: #bec2c6;
    --CBackBox: #F0F0F0;
}

.article {
    position: absolute;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: border 0.3s ease;
}

.M1 {
    width: 45%;
    top: 100px;
    left: 45%;

}

.M2 {
    width: 85%;
    top: 700px;
    left: 5%;
}

.article h2 {
    font-size: 16px;
}


.visuel {
    position: absolute;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: border 0.3s ease;
    top: 100px;
    width: 35%;
    left: 5%;
    background-color: var(--CBackBox);
}

.visuel img {
    width: 100%;
    height: auto;
    object-fit: cover;

}

.theme {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.burbuja {
    background-color: #5fd6e6;
    width: 30%;

    border-radius: 50%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.B1 {
    margin-left: 2%;
}

.B2 {
    margin-left: 40%;
    top: 10px;

}

.burbuja h1 {
    font-size: 22px;
}

.info h2 {
    font-size: 16px;
    font-weight: normal;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

.info h1 {
    margin-left: 5%;

    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.article h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

.article h2 {
    margin: 5px;
    text-align: justify;
    font-weight: normal;
    font-size: 16px;
}

.void {
    position: absolute;
    top: 1050px;
    height: 10px;
    width: 50%;
}