body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(/Document/Index/Image/FondAcueil.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

:root {
    --CbarNav1: white;
    --CbarNav2: red;
    --CbarNav3: #041041;
    --CbarNav4: #04225c;
    --CbarNav5: #A5FFFF;

    --CSourisSur: #8c949c;
    --CClickSur: #bec2c6;
    --CBackBox: #F0F0F0;


    --CTextH1: black;

    --W_Box: 25%;
    --BorderDec: 6.25%;
    --CenterDec: 37.25%;
    --HauteurDec: 250px;
    --HauteurMaxBox: 300px;
}

/*Setup*/

.tuto {
    left: var(--BorderDec);
}

.bestSeller {
    left: var(--CenterDec);

}

.about {
    right: var(--BorderDec);

}


.box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: var(--HauteurDec);
    width: var(--W_Box);
    overflow: hidden;
    background-color: var(--CBackBox);
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    box-sizing: border-box;
}

.box a {

    text-decoration: none;
}

.box h1 {
    text-align: center;
    color: var(--CTextH1);
}

.box img {

    width: 100%;
    height: auto;
    object-fit: cover;
}

.box:hover {
    background-color: var(--CSourisSur);
}

.box :active {
    background-color: red;
    transform: scale(0.95);
    border: 1px solid green;

}









/*Reset CSS*/



nav {
    width: 100%;
    margin: 0 auto;
    background-color: var(--CbarNav3);
    /*NavBar prinsipal*/
    position: sticky;
    top: 0px;
    z-index: 99;
}


nav ul {
    list-style-type: none;
}


nav ul li {
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}


nav ul::after {
    content: "";
    display: table;
    clear: both;
}


nav a {
    display: block;
    text-decoration: none;
    color: var(--CbarNav1);
    /*Texte general*/
    border-bottom: 2px solid transparent;
    padding: 15px 0px;
}


nav a:hover {
    color: var(--CbarNav5);
    /*Texte quand on met le courseur*/
    font-weight: bold;
    text-decoration: underline;
    border-bottom: 2px solid var(--CbarNav4);
    ;
}

nav i:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: var(--CbarNav4);
    position: absolute;
    width: 100%;
    z-index: 1000;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}

.sous a {
    padding: 10px;
    border-bottom: none;
}

.sous a:hover {
    border-bottom: none;
    background-color: var(--CbarNav4);
}

.deroulant>a::after {
    content: " ▼";
    font-size: 12px;
}


.conteneur {
    margin: 50px 20px;
    height: 1500px;
}