* {
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    background-color: rgb(232, 228, 228);
}

.logo {
    width: 100%;
    position: relative;
    top: var(--Hlogo);
}

.logo img {
    object-fit: fill;
    width: 100%;
}

:root {

    --CSourisSur: #8c949c;
    --CClickSur: #bec2c6;
    --CBackBox: #F0F0F0;


    --CTextH1: black;

    --W_Box: 25%;
    --BorderDec: 6.25%;
    --CenterDec: 37.25%;
    --HauteurDec: 1800px;
    --HauteurMaxBox: 300px;
    --HauteurTxt1: 450px;

    --Hlogo: 49px;
}

/*Setup*/





.LF{
    position: relative;
    margin-top: 150px;
    display: flex;
}

.box {
    position: relative;
    margin-left: 6.25%;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--W_Box);
    overflow: hidden;
    background-color: var(--CBackBox);
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    box-sizing: border-box;
}

.box a {

    text-decoration: none;
}

.box h1 {
    text-align: center;
    color: var(--CTextH1);
}

.box img {

    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
}

.box:hover {
    background-color: var(--CSourisSur);
    border-width: 10px;
    border: 10px solid green;

    border-style: solid;
    border-color: var(--CSourisSur);

}

.box :active {
    background-color: var(--CClickSur);
}


.intro {
    position: relative;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100px;
    width: 90%;
    left: 5%;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.3s ease;
    box-sizing: border-box;

}

.imaLarge {
    display: flex;
    /* Activar flexbox en el contenedor */
    justify-content: center;
    /* Centrar horizontalmente (opcional si lo necesitas) */
    align-items: first flex-start;
    /* Centrar en el eje vertical */
    height: 100%;
    /* Asegurar que el contenedor tenga suficiente altura */
    margin-top: 100px;
    position: relative;
}

.imaLarge img {
    object-fit: fill;
    margin-left: 5%;
    width: 40%;
    height: auto;
    /* Usar altura automática para mantener proporciones */
    margin-top: 0;
    /* Eliminar el margen superior para evitar desplazamientos */
}

h2 {
    text-align: justify;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: rgb(66, 66, 66);

}

h3 {
    color: rgb(66, 66, 66);

    text-align: justify;
    font-style: italic;
}

.void{
    position: relative;
    
    height: 100px;
}